.date-outer-div {
  position: relative;
}
.date-inner-div {
    font-size: 1.2em;
    font-weight: 400;
    color: hwb(0 0% 100%);
    margin-right: 10px 
}

.date-field {
  margin-right: 10px;
  font-family: inherit;
  height: 1rem;
  background: white; 
}


.calendar-icon {
  position: absolute;
  left: 95px;
  pointer-events: none;
  padding-left: 10px;
  background: url('../../assets/date-time-icons/calendar-24px-rounded-edges.png') no-repeat center;
  width: 24px;
  height: 24px;
}

.date-outer-div:hover .calendar-icon{
  background: url('../../assets/date-time-icons/calendar-24px-rounded-edges.gif') no-repeat center;
}
