.date-outer-div {
  position: relative;
  display: inline-block;
  margin-left: 2rem;
}
.date-inner-div {
    font-size: 1.2em;
    font-weight: 400;
    color: hsl(0, 0%, 0%);
    margin-right: 10px 
}

.date-field {
  margin-right: 10px;
  font-family: inherit;
  padding: 5px;
  width: 88px; 
  height: 20px;
  background: white; 
}


.calendar-icon {
  position: absolute;
  left: 95px;
  pointer-events: none;
  padding-left: 10px;
  background: url('../../assets/date-time-icons/calendar-24px-rounded-edges.png') no-repeat center;
  width: 24px;
  height: 24px;

}
