.startDate-outer-div {
  position: fixed;
  width: 104.14px;
  height: 20px;
  top: 284px;
  left: 310px;
}

.date-field {
  margin-right: 10px;
  font-family: inherit;
  height: 1rem;
  background: inherit;
}

.calendar-icon {
  position: fixed;
  width: 24px;
  height: 24px;
  top: 284px;
  left: 399px;
  pointer-events: none;
  /* background: url("../../assets/date-time-icons/calendar-24px-rounded-edges.png")
    no-repeat center; */
}

.startDate-outer-div:hover .calendar-icon {
  /* background: url("../../assets/date-time-icons/calendar-24px-rounded-edges.gif")
    no-repeat center; */
    background-color: inherit;
}
