.startTime-outer-div {
  position: fixed;
  width: 95px;
  height: 20px;
  top: 284px;
  left: 433px;
}

.startTimeInput {
  font-family: inherit;
  background: inherit;
}

.clock-icon {
  position: fixed;
  top: 284px;
  left: 517px;
  pointer-events: none;
  padding-left: 10px;
  /* background: url("../../assets/date-time-icons/clock-24px-simple.png")
    no-repeat center; */
  width: 24px;
  height: 24px;
}

.startTime-outer-div:hover .clock-icon {
  /* background: url("../../assets/date-time-icons/clock-24px-simple.gif")
    no-repeat center; */
}
