.count-down-outer-div{
    position: absolute;
    top: 20px;
    left: 179px;
}
.count-down-inner-div{
    position: relative;
    left: -47px;
    display: flex;
    justify-content: space-evenly;
}

.remainingTimeText{
    font-size: 14px;

}

.stopWatchInput{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
    color: black;
    height: 20px;
    width: 154px;
}

.label-div{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80px;
}

.input-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.num-input{
    width: 1.7rem;
    height: 13px;
    font-size: 11px;
}

.set-time-btn{
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: hsl(217.5, 4%, 39.22%)
}
.stopWatchDisplay{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    color: black;
    height: 20px;
    width: 154px;
    font-size: 11px;
}

.edit-time-btn{
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: hsl(217.5, 4%, 39.22%)
}

.progressBarContainer{
    position: relative;
    left: -97px;
    top: -3px;
    display: flex;
    align-items: center;
    width: 344px;
    height: 16px;
    background-color: white;
    overflow: hidden;
    margin-top: 10px;
}

.progressBar{
    height: 100%;
    background-color: #600B68;
    /* width: 100%; */
    /* border-radius: 10px; */
    transition: width 1s linear;
}
