.count-down-outer-div{
    position: absolute;
    top: 20px;
    left: 179px;
}
.remainingTimeText{
    font-size: 14px;

}

.stopWatchInput{
    position: relative;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
}

.stopWatchDisplay{
    position: relative;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-size: 11px;
}

.stopWatchInput, input{
    width: 2rem;
    font-size: 11px;
}

.progressBarContainer{
    position: relative;
    left: -97px;
    display: flex;
    align-items: center;
    width: 344px;
    height: 16px;
    background-color: white;
    overflow: hidden;
    margin-top: 10px;
}

.progressBar{
    height: 100%;
    background-color: #600B68;
    /* width: 100%; */
    /* border-radius: 10px; */
    transition: width 1s linear;
}
