.jobcodes-outer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 344px;
  height: 23px;
  top: 330px;
  left: 313px;
}

.jobcodes-inner-div {
  position: fixed;
  width: 43.39px;
  height: 23px;
  top: 330px;
  left: 313px;
  display: flex;
  white-space: nowrap;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.31px;
  color: hsl(0, 0%, 0%);
  /* padding-right: 25px; */
}

.required-star {
  color: red;
  position: fixed;
  top: 330px;
  left: 346px;
  /* margin-right: 3rem; */
}

.jobcodes-dropdown {
  position: fixed;
  width: 192.14px;
  height: 22px;
  top: 323px;
  left: 363.62px;
  color: black;
  background-color: hsl(0, 0%, 76.86%);
}
