
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-card {
    padding: 3rem;
    background-color: white;
    border-radius: 10px;
    color: #000014;
  }
  

  .close-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
  }

  .close-button .topright {
    position: absolute;
    right: 0;
    top: 0;
  }