.button-outer-div {
}

.submit-button {
  background-color: hsl(4.86, 80.43%, 63.92%);
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  width: 114px;
  height: 25px;
  top: 0px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12.1px;
  text-align: center;
}
