.endTime-outer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* width: 100px; */
  height: 20px;
  top: 0px;
  left: 0px;
}

.endTime-inner-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 0%);
  position: relative;
  z-index: 2;
  height: 20px;
  top: 0px;
  left: 20px;
}

.endTimeInput {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  color: hsl(0, 0%, 0%);
}

.endTime-icon-div {
  /* position: fixed; */
  width: 24px;
  height: 24px;
  top: 478px;
  left: 516px;
  pointer-events: none;
  /* background: url("../../assets/date-time-icons/clock-24px-simple.png")
  no-repeat center; */
}

.endTime-icon {
  margin-left: 5px;
  height: 18px;
  width: 19px;
  pointer-events: none;
}

.endTime-outer-div:hover .endTime-icon-div {
  /* background: url("../../assets/date-time-icons/clock-24px-simple.gif")
  no-repeat center; */
}
