.notes-outer-div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 10px 10px;
}

.notes-inner-div{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
    color: hsl(0, 0%, 0%);
}

.required-star{
    color: red;
    margin-left: 5px;
}

.notes-field{
    width: 340px;
    height: 49px;
}