.countUp-header{
    position: absolute;
    top: 15px;
    left: 179px;
    width: 133px;
    height: 23px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
    text-align: center;
    color: hsl(0, 0%, 0%);
}

.countUp-timer-value{
    position: absolute;
    top: 41px;
    left: 155px;
    width: 178px;
    height: 23px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38.73px;
    text-align: center;
    color: hsl(0, 0%, 0%);
}

.countUp-border{
    position: absolute;
    width: 450px;
    top: 85px;
    left: 21px;
    border-bottom: 1px solid hsl(210, 4.69%, 25.1%);
}