.outer-div{
    border-bottom: 1px solid hsl(210, 4.69%, 25.1%);
    height: 2.7rem;
}

.header{
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
    text-align: center;
}

.timer-value{
    font-weight: 500;
    font-size: 32px;
    line-height: 38.73px;
    text-align: center;
}