.data-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 12px;
  width: 491px;
  /* left: 256px; */
}

.data-div {
  text-align: center;
}
.data-label {
  font-size: 11px;
  line-height: 13.31px;
  font-weight: 400;
  color: hsl(0, 0%, 0%);
}
.data-value {
  font-size: 32px;
  line-height: 38.73px;
  font-weight: 600;
  color: hsl(0, 0%, 0%);
}

.day-label {
  position: relative;
  height: 23px;
  top: 59px;
  left: 0px;
}
.day-value {
  position: relative;
  height: 23px;
  top: 51px;
  left: 0px;
}
.week-label {
  position: relative;
  height: 23px;
  top: 59px;
  left: 10px;
}
.week-value {
  position: relative;
  height: 23px;
  top: 51px;
  left: 10px;
}
.pp-label {
  position: relative;
  height: 23px;
  top: 59px;
  left: 20px;
}

.pp-value {
  position: relative;
  height: 23px;
  top: 51px;
  left: 20px;
}
