body {
  font-family: 'Inter', sans-serif;
}
.timer-work-outer-div{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* position: relative; */
  /* top: 9px; */
}

.entry-and-timers{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  top: 161px;
  /* left: 240px; */
}
.clock-in-container {
  text-align: center;
  /* font-size: 13px; */
  position: absolute;

  /* KEEP FOR PROPER MEASUREMENT */
  /* left: 240px; */
  width: 491px;
  height: 346px;
  padding: 20px 30px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: hsl(0,0%,92.2%);
  flex-wrap: wrap;
}

.start-container{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 84px;
  /* left: 70px; */
}
.input-fields{
  position: absolute;
  top: 152px;
  left: 61px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.end-container{
  position: relative;
  top: 262px;
  /* left: 70px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  /* margin: 20px 0px ; */
}


.timer-value, .remainingTimeText, input {
  font-size: 2em;
  color: #374151;
}
input[type="time"], input[type="text"], textarea {
  font-family: inherit;
  font-size: 11px; 
  border: 2px solid #4d72ac; 
  border-radius: 4px; 
  width: 6rem; 
  background: white; 
}

input[type="range"] {
  width: 100%; 
  margin: 10px 0;
}
.sliderValue {
  text-align: center;
  font-size: 1.2em;
}
.inputContainer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.inputSection {
  width: 50%; 
  margin: 0 auto; 
}